@font-face {
    font-family: 'Uni Wars';
    src: url('./assets/fonts/uniwars.otf') format('truetype'); 
  }


  .page-container {
    overflow:scroll;
    height: 100vh; /* Altura total da viewport */
    width: 100vw; /* Largura total da viewport */
    background: linear-gradient(to right, #022e34, #00c16c, #8fff18);
    display: flex;
    flex-direction: column;
    color: white;
  }

  .header {
    position: relative; /* Define um contêiner de referência */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px; /* Altura do menu */
    background-color: #f8f8f8; /* Cor de fundo */
    border-bottom: 1px solid #ddd;
    z-index: 1;
  }

  .logo {
    position: absolute; /* Faz a logo sobrepor os botões */
    top: 50%; /* Centraliza verticalmente */
    left: 20px; /* Distância da borda esquerda */
    transform: translateY(-50%); /* Ajusta a centralização vertical */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold;
    color: #fafafa; /* Cor da logo */
    z-index: 10; /* Garante que a logo fique acima dos botões */
    font-family: "Uni Wars", sans-serif;
  }

  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 40px;
    margin-left: 150px;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  
  /* Texto */
  .text-section h1 {
    font-size: 4rem;
  }
  
  .image-section img {
    position: relative;
    margin-top: -100px;
    width: 850px;
  }

  .page-container {
    height: 100vh; /* Altura total da viewport */
    width: 100vw; /* Largura total da viewport */
    background: linear-gradient(to right, #022e34, #00c16c, #8fff18);
    display: flex;
    flex-direction: column;
    color: white;
  }

  .Sobre-1 {
    display: flex;
    padding: 40px;
    margin-left: 570px;
    margin-top: -160px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.4rem;
  }

  .descricao {
    margin-top: -40px;
    margin-left: 700px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 40%;
    font-family: "poppins", sans-serif;
  }

  .Laptop2 {
    width: auto;
    height: 400px;
    margin-top: -300px;
    margin-left: 40px;
    border-radius: 50%;
    border: 2px ;
    box-shadow: 10px 10px 15px rgba(31, 31, 31, 0.5);
  }

  .about-02 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 4.4rem;
    margin-left: 120px;
    margin-top: 160px;
  }

  .Menino {
    width: auto;
    height: 400px;
    margin-top: -20px;
    margin-left: 1000px;
    border-radius: 50%;
    border: 2px ;
    box-shadow: 10px 10px 15px rgba(31, 31, 31, 0.5);
  }

  .descricao02 {
    margin-top: -320px;
    margin-left: 260px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 40%;
    font-family: "poppins", sans-serif;
  }

  
  .about-03 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 4.4rem;
    margin-left: 120px;
    margin-top: 160px;
  }

  .menina {
    width: auto;
    height: 400px;
    margin-top: -20px;
    margin-left: 70px;
    border-radius: 50%;
    border: 2px ;
    box-shadow: 10px 10px 15px rgba(31, 31, 31, 0.5);
  }

  .descricao03 {
    margin-top: -320px;
    margin-left: 700px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 40%;
    font-family: "poppins", sans-serif;
  }

  .nav {
    display: flex;
    gap: 1rem; /* Espaçamento entre os botões */
    justify-content: center;
    flex: 1; /* Expande o menu para ocupar o espaço */
    background-color: #022e34;
  }

  .nav button {
    background-color: transparent; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animação para hover */
    font-family: 'poppins', sans-serif;
  }

  .nav button:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
  }
  
  .nav button:active {
    transform: scale(0.95); /* Efeito ao clicar */
  }